<div style="background: url(../site_images/mountains.svg),linear-gradient(135deg,#1f4e69 0,#164058 100%);">
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <h3 class="text-center" style="color: white;">What's the weather ?</h3>
        <form [formGroup]="weatherForm" (ngSubmit)="sendReq(weatherForm.value)">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  id="weatherLocation"
                  placeholder="Please enter your current location"
                  formControlName="location"
                  required
                />
              </div>
              <div class="text-center">
                <button type="submit" [disabled]="!weatherForm.valid" (click)="submited=true" class="btn btn-success btn-md">
                  Find the weather</button>
              </div>
        </form>
      </div>
      <div class="col-md-8" *ngIf="submited" style="color: white; border: 4px solid #608094; border-radius: 10px; background: #16394c; border-style: ridge; margin-top: 10px; margin-bottom: 10px;">
          <h3 class="text-center my-4"> {{ this.weatherData?.location.name }}, {{
            this.weatherData?.location.country }}</h3>
          <div class="col-md-4" style="float: left;">
            <p class="text-center" style="margin-left: 0px; margin-bottom: 3px;">
            <img src="{{ this.weatherData?.current.weather_icons }}">
          </p>
          <p class="text-center">
            {{ this.weatherData?.current.weather_descriptions}}
          </p>
        </div>
          <div class= "col-md-4" style="float: left;">
            <h2 class="text-center">
            {{ this.weatherData?.current.temperature }}°c
            </h2>
          </div>
          <div class="col-md-4" style="float: left; text-align: center;">
          <p class="text-left" style="margin-bottom: 0px;">
            Wind: {{ this.weatherData.current.wind_speed }} kmph
          </p>
          <p class="text-left" style="margin-top: 0px; margin-bottom: 0px;">
            Precip: {{ this.weatherData?.current.precip }} mm
          </p>
          <p class="text-left" style="margin-top: 0px;">
            Pressure: {{ this.weatherData?.current.pressure }} mb
          </p>
          </div>
          <div class= "col-md-4" style="float: left;">
          <p class="text-left" style="margin-top: 0px;">
            ab: {{ this.weatherData?.forecast.avgtemp}} ce
          </p>
          </div>
      </div>
  </div>
</div>
</div>

